<ion-header>
  <ion-toolbar>
    <ion-title>Reservar servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Selecciona un servicio</h2>
  <ion-select [(ngModel)]="servicioSeleccionado">
    <ion-select-option *ngFor="let s of servicios" [value]="s">
      {{ s.nombre }} - {{ s.precio | currency:'PYG' }}
    </ion-select-option>
  </ion-select>

  <h2>Fecha</h2>
  <ion-input type="date" [(ngModel)]="fechaSeleccionada"></ion-input>

  <h2>Hora</h2>
  <ion-select [(ngModel)]="horaSeleccionada">
    <ion-select-option *ngFor="let h of ['09:00','10:00','11:00','12:00','15:00','16:00']" [value]="h">
      {{ h }}
    </ion-select-option>
  </ion-select>

  <ion-button expand="block" (click)="confirmarReserva()">
    Confirmar Reserva
  </ion-button>

</ion-content>
